<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548228108837-np280i1rv6en8bqn783kfuonhra92i52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548228108837-np280i1rv6en8bqn783kfuonhra92i52</string>
	<key>API_KEY</key>
	<string>AIzaSyDvZD8NK2wkCSTXhzH4_pFYdynywSFwPY8</string>
	<key>GCM_SENDER_ID</key>
	<string>548228108837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiia</string>
	<key>PROJECT_ID</key>
	<string>aiia-chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>aiia-chatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548228108837:ios:f381d8a7a73533b0b265cc</string>
</dict>
</plist>